data/raw/*
data/interim/*
data/processed/*
database/*.duckdb
*.parquet
*.duckdb
*.db
runtime/
data/raw/
data/processed/
features/private/
outputs/private/

__pycache__/
*.pyc

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!database/.gitkeep
